* text=auto

*.md text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.svg text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

*.png binary
